
body {
  margin: 0;
  background: #2e93d7 url(images/bg.jpg) 0 0 repeat-x;
  border-top: 1px solid rgba(255,255,255,0.4);
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

#logo {
  width: 208px;
  height: 76px;
  background: url(images/logo.png) 0 0 no-repeat;
  text-indent: -999999px;
}