
body {
  margin: 0;
  background: #2e93d7 url(images/bg.jpg) 0 0 repeat-x;
  border-top: 1px solid rgba(255,255,255,0.4);
  text-align: center;
  font: 15px/1.3 "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  color: #fff;
}

a {
  color: #E5FF05;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

#logo {
  margin: 120px 0 50px 0;
}

#logo a {
  display: block;
  margin: 0 auto;
  width: 208px;
  height: 76px;
  background: url(images/logo.png) 0 0 no-repeat;
  text-indent: -999999px;
  outline: none;
}

#wrapper {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 60px 150px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

ul li img {
  float: left;
  margin-right: 35px;
}

#code {
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 1050px;
  position: relative;
}

#codearrow {
  position: absolute;
  top: 280px;
  left: 380px;
  z-index: 10;
  width: 120px;
  height: 130px;
  background: url(images/arrow.png);
}

#codevideo {
  float: right;
  padding-top: 80px;
}

#codesample {
  width: 400px;
  float: left;
}

#codesample h2 {
  font: bold 11px "Lucida Grande", Verdana;
  text-transform: uppercase;
}

#codesample pre {
  background: rgba(255,255,255, 0.5);
  font: 12px "Monaco", "Courier New";
  padding: 10px;
  margin: auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #333;
  margin-bottom: 20px;
}

#video {
  width: 570px;
  height: 454px;
}

#footer {
  margin-top: 50px;
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 11px;
  text-align: center;
  padding-bottom: 20px;
}